.title {
    color:darkgreen;
    background-color:bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 2px darkblue ;
}
.home {
    padding: 10px ;
    color:darkred;
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    font-weight: bold ;
    height: 100 px;
}
.tit {
    text-align: center;
}
.text {
    color: indigo;
    font-size: 20pt;
    font-family: sans-serif ;
    display: flex;
    justify-content: center;
    text-align: center;

}
.tit2 {
    text-align: center;
}
.liv {
    display: flex;
    justify-content: center;
    gap: 90px
}
.tit3 {
    text-align: center;
}
.map {
    display: flex;
    justify-content: center;
    gap: 90px;
}
.red {
    color: red;
    border: solid red 2px;
    text-align: center;
}
.bor {
    border: solid red 2px;;
}
.table {
    margin-left: auto;
    margin-right: auto;
    border: dashed red 2px;
    height: 20px;
}
.th, td {
    padding: 10px 20px;
}
.list {
    background-color: yellow;
    display: flex;
    justify-content: center;
    margin-left: 600px;
    margin-right: 600px;
    gap: 70px
}
.redd {
    color: red;
}
.end {
    font-family: sans-serif 15pt;
    background-color:bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
}