#canvas {
    background-color: aquamarine;
    border-radius: 50px;
}
#canvas2 {
    background-color: whitesmoke;
} 
.center {
    display: flex;
    justify-content: center;
    gap: 20px;
}