.titulo{
    color: azure;
    text-align: center;
    font-size: xx-large;
    font-style: oblique;
}
.tab {
    color: azure;
    text-align: center;
}

table,td,tr,th{
    color: azure;
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
}
body{
    background-color: black;
}