.cmc {
display: flex;
justify-content: space-around;
gap: 100;
align-items: center;
color: gray;
font-size: medium;
}
.assine {
    table-layout: auto;
    background-color: red;
    padding: 10px;
    color: white;
    font-size: large;
}
.dia {
    display: flex;
    justify-content: space-between;
    border-width: 1px ;
    border-style: solid;
    border-right: 0px;
    border-left: 0px;
    border-color: gainsboro;
}
.info {
    display: flex;
    justify-self: flex-end;
    align-items: center;
    margin-right: 30px;
    color: gray;
    gap: 80;
}
.tit1 {
    display: flex;
    margin-left: 50px ;
    color: red;
    font-size: larger;
}
.conteiner {
    display: flex;
    margin-left: 100;
    margin-right: 400;
}
.mot {
    background-color: red;
    margin-right: 1275px ;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    color: white;
}
