p{color:red; font-size: 18pt;}
.JP{color:darkblue; font-size: 25pt}
a:hover{color: blueviolet;}
.b{font-size:20pt ;}
.texto{
    font-size: 20pt;
}
.title{
    font-size: xx-large;
    font-style: oblique;
    text-align: center;
}
.lista{
    font-size: larger;
    font-style: oblique;
}